<div class="sidebar">
	<div class="block">
		<h3>最新版のダウンロード</h3>
			<p>5.2.3</p>
			<ul>
				<li><a href="https://github.com/tdiary/tdiary-core/releases/download/v5.2.3/tdiary-full-v5.2.3.tar.gz">フルセット</a></li>
				<li><a href="https://github.com/tdiary/tdiary-core/releases/download/v5.2.3/tdiary-v5.2.3.tar.gz">基本セット</a></li>
				<li><a href="https://github.com/tdiary/tdiary-core/releases/download/v5.2.3/tdiary-theme-v5.2.3.tar.gz">テーマ集</a></li>
				<li><a href="https://github.com/tdiary/tdiary-core/releases/download/v5.2.3/tdiary-blogkit-v5.2.3.tar.gz">BlogKit</a></li>
				<li><a href="https://github.com/tdiary/tdiary-core/releases/download/v5.2.3/tdiary-contrib-v5.2.3.tar.gz">contrib</a></li>
			</ul>
	</div>

	<div class="block">
		<h3>サイト内検索 (Google)</h3>
		<form method="get" action="https://www.google.co.jp/search">
			<div>
				<input type="hidden" name="as_sitesearch" value="tdiary.org">
				<input class="field" name="as_q" style="width: 14em;"><input type="submit" value="検索">
			</div>
		</form>
	</div>

	<div class="block">
		<h3>最近のテーマ</h3>
		<ul>
		</ul>
	</div>

	<div class="block">
		<h3>最近のプラグイン</h3>
		<ul>
			<li>hide-mail-field</li>
			<li>edit_today</li>
			<li>akismet</li>
			<li>my-sequel</li>
		</ul>
	</div>

	<div class="block">
		<h3>Twitter</h3>
		<ul>
			<a href="https://twitter.com/tDiary">@tDiary<a>
		</ul>
		<h3>Facebook</h3>
		<ul>
			<a href="https://www.facebook.com/tDiary">tDiary<a>
		</ul>
	</div>
</div>