<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="author" content="tDiary.org">
	<link rev="made" href="mailto:{{ site.email }}">
	<link rel="start" title="最新" href="https://tdiary.org/">
	<link rel="icon" href="https://avatars1.githubusercontent.com/u/239347">
	<meta property="og:title" content="tDiary.org">
	<meta property="og:type" content="website">
	<meta property="article:author" content="tDiary.org">
	<meta property="og:site_name" content="tDiary.org">
	<meta property="og:url" content="https://tdiary.org/">
	<meta name="description" content="ツッコミ可能なWeb日記(ブログ/Blog)システム&quot;tDiary&quot;の公式サイトです。tDiaryのユーザおよび開発者向けの情報を提供しています。">
	<link rel="stylesheet" href="/assets/base.css" media="all">
	<link rel="stylesheet" href="/assets/tdiary-org.css" media="all">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	{%- if page.title -%}
		<title>{{ page.title }} - {{ site.title }}</title>
	{%- else -%}
		<title>{{ site.title }}</title>
	{%- endif -%}
</head>
