---
leyout: post
title:  春向きテーマ特集
categories:
  - theme
---
もう3月。まだ寒い日が続きますが、春向けのテーマを特集してみました。たまには気分を変えてみるのはいかが?

<% themes = load_themes %>
<%= theme_item( themes, "pale") %>
<%= theme_item( themes, "plum") %>
<%= theme_item( themes, "futaba") %>
<%= theme_item( themes, "clover") %>
<%= theme_item( themes, "flower") %>
<%= theme_item( themes, "marguerite") %>
<%= theme_item( themes, "spring") %>
<%= theme_item( themes, "sakura") %>
<%= theme_item( themes, "greentea3") %>
<%= theme_item( themes, "green-border") %>
<%= theme_item( themes, "haru") %>
<%= theme_item( themes, "pastelpink") %>
<%= theme_item( themes, "babypink") %>

