@charset "euc-jp";
/*
Title: Treetop
Revision: $Revision: 1.1 $
Author: TADA Tadashi
Access: sho@spc.gr.jp
License: GPL

validated by W3C.
*/

body {
	background-color: #fff;
	color: #000;
	margin: 0px;
	padding: 0px;
}

h1 {
	background-color: transparent;
	color: #00a800;
	font-weight: 900;
	font-size: small;
	vertical-align: top;
	margin: 4px;
	padding: 0px;
}

h1 img {
	border-width: 0px;
}

a:link {
	background-color: transparent;
	color: #32c832;
}

a:visited {
	background-color: transparent;
	color: #A8B392;
}

ul.global-menu {
	margin: 0px;
	padding: 0px;
	margin-top: 4px;
	margin-bottom: 8px;
	line-height: 32px;
	background-image: url(menu.back.png);
}

ul.global-menu li {
	background-color: transparent;
	color: #000;
	display: inline;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 16px;
	font-weight: 900;
}

div.adminmenu {
	font-size: 80%;
	margin-bottom: 1em;
	text-align: right;
	font-weight: bold;
}

div.adminmenu a {
	text-decoration: none;
}

span.adminmenu {
	background-color: #d0ffd0;
	color: #000;
	padding: 2px;
}

div.day {
	margin: 0px 0px 2em 0px;
	padding: 0px 2em 0px 0px;
}

div.day h2 {
}

div.day h2 span.title {
	border-style: double;
	border-width: 0px 0px 4px 0px;
	border-color: #32c864;
	padding: 0px 4px 0px 4px;
}

div.day h2 span.title a {
	color: #000;
	text-decoration: none;
}

div.body {
	margin-left: 2em;
	width: 100%;
}

div.lm {
	text-align: right;
	font-size: 80%;
}

div.section {
	width: 100%;
}

div.day h3 {
	border-style: solid;
	border-color: #32c864;
	border-width: 0px 0px 1px 0px;
	margin: 1em 0em 0.5em 0em;
	font-size: medium;
	font-weight: bold;
}

div.day h4 {
	border-style: dashed;
	border-color: #32c864;
	border-width: 0px 0px 1px 0px;
	margin: 2em;
	font-size: medium;
	font-weight: bold;
	margin-bottom: 0em;
}

div.day h5 {
	margin: 2em;
	font-size: medium;
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 0em;
}

div.section p {
	line-height: 150%;
	margin: 0.5em 0em 1em 2em;
}

div.tags {
	display: none;
}

div.caption {
	font-size: 90%;
	margin: 0em;
	padding: 0.2em;
	padding-left: 0.5em;
}

div.caption a {
	text-decoration: none;
}

div.comment {
	background-color: transparent;
	color: #000;
	border-style: solid;
	border-color: #A8B392;
	border-width: 1px 0px 0px 0px;
	margin: 0.5em 2em 0.5em 2em;
}

div.commentshort {
	font-size: 90%;
	margin-left: 0.5em;
}

div.commentator {
	margin-left: 0.3em;
}

span.commentator {
	font-weight: bold;
}

div.commentshort p {
	line-height: 120%;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

div.commentbody {
	font-size: 90%;
	line-height: 120%;
	margin: 0.5em;
}

div.commentbody p {
	margin-top: 0.2em;
	margin-bottom: 1em;
	margin-left: 2em;
}

div.form {
	background-color: transparent;
	color: #000;
	border-style: solid;
	border-color: #A8B392;
	border-width: 1px 0px 0px 0px;
	margin: 0.5em 2em 0.5em 2em;
}

div.form form {
	margin: 0.5em 0em 0em 0.5em;
}

div.form form.comment {
	font-size: 90%;
	padding-bottom: 0.5em;
}

div.field {
	display: inline;
	margin-right: 2em;
}

form.comment input {
	background-color: #fff;
	color: #000;
	margin-left: 0.5em;
}

div.textarea {
	display: block;
	vertical-align: top;
	margin-top: 0.7em;
}

form.comment textarea {
	display: block;
	background-color: #fff;
	color: #000;
	margin-left: 3.5em;
	margin-bottom: 0.7em;
	width: 25em;
	height: 5em;
}

form.comment div.button {
	display: block;
	margin-left: 3em;
}

div.referer {
	text-align: right;
	font-size: 90%;
	background-color: transparent;
	color: #000;
	margin: 0.5em 1em 0em 2em;
}

div.refererlist {
	background-color: transparent;
	color: #000;
	border-style: solid;
	border-color: #A8B392;
	border-width: 1px 0px 0px 0px;
	padding-bottom: 1px;
	margin: 0.5em 2em 0.5em 2em;
}

div.refererlist ul {
	font-size: 90%;
	line-height: 120%;
	margin: 0.5em 1em 0.5em 2em;
	padding-left: 1em;
}

div.section hr {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #A8B392;
	margin-left: 4em;
	width: 70%;
}

hr.sep {
	display: none;
}

div.footer {
	font-size: 90%;
	text-align: right;
	margin-top: 0px;
	margin-right: 1em;
	clear: both;
}

div.update {
	padding-top: 1em;
}

form.update {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
form.update input, form.update textarea, form.commentstat input {
	background-color: #fff;
	color: #000;
}

form.update span.field {
	display: inline;
	margin-left: 0em;
	margin-right: 0.5em;
}

form.update div.field.title {
	display: block;
	margin-top: 1em;
}
form.update div.field.title input {
	margin-left: 0.5em;
	width: 80%;
}

form.update div.textarea {
	display: block;
	margin-top: 1em;
}
form.update textarea {
	display: block;
	margin-left: 3em;
	margin-bottom: 1em;
	width: 35em;
	height: 15em;
}

form.update span.year,
form.update span.month,
form.update span.day,
form.update span.edit {
	display: none;
}

div.update textarea {
   width: 80%;
   height: 30em;
}

form.update span.checkbox.hidediary {
	margin-left: 1em;
}

div.comment form {
	margin-top: 0em;
}

p.message {
	text-align: center;
	font-size: large;
	background-color: #d00;
	color: #fff;
	padding: 8px;
}

div.section pre {
	background-color: #eee;
	color: #000;
	margin-left: 3em;
	margin-right: 1em;
	padding: 8px;
}

div.section blockquote {
	border-style: solid;
	border-color: #A8B392;
	border-width: 0px 0px 0px 6px;
	margin-left: 3em;
	padding-left: 6px;
}
div.section blockquote p {
	margin: 0.5em 0em 0.5em 0em;
}

div.section ul, div.section ol {
	margin-left: 7em;
	margin-right: 3em;
	padding-left: 0px;
}
div.section ul ul, div.section ol ol {
	margin-left: 1.7em;
	margin-right: 1em;
	margin-bottom: 0.5em;
}

div.section dl {
	margin-left: 2em;
}

div.section dt {
	font-weight: bold;
}

div.section dd {
	margin-bottom: 0.5em;
}

div.section table {
	margin: 0.5em 1em 0.5em 5em;
	border-style: solid;
	border-width: 1px;
	border-color: #A8B392;
	border-collapse: collapse;
}
div.section th, div.section td {
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #A8B392;
}

/*
 plugins
 */
/* amazon plugin */
img.left {
	border-style: solid;
	border-width: 2px;
	border-color: #fff;
	float: left;
	margin: 0.5em;
}

img.right, img.photo, img.amazon {
	border-style: solid;
	border-width: 2px;
	border-color: #fff;
	float: right;
	margin: 0.5em;
}

span.blogmap {
	font-size: 80%;
}

div.footnote {
	margin-left: 5em;
	margin-right: 2em;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #A8B392;
}

div.themelist {
	text-align: center;
	font-size: 90%;
	margin-top: 2em;
	margin-bottom: 1em;
}

/*
sidebar
*/
div.main {
	margin: 0px;
	padding: 0px;
	margin-right: 1em;
	width: 70%;
	float: left;
}

div.sidebar {
	background-color: transparent;
	color: #000;
	padding: 4px 0px 100% 0px;
	font-size: small;
	width: 25%;
	float: left;
}

div.sidebar div.block {
	background-color: #d0ffd0;
	background-image: url(div.block.png);
	background-position: left top;
	background-repeat: no-repeat;
	margin: 0px 0px 1em 0em;
	padding: 1em;
}

div.sidebar h3 {
	background-color: transparent;
	color: #32c832;
	font-size: small;
	margin-top: 0px;
	margin-bottom: 0.5em;
}

div.sidebar p {
	margin-top: 0px;
	margin-bottom: 0px;
}

div.sidebar ul {
	margin: 0px 0px 8px 2em;
	padding-left: 0px;
	list-style-type: none;
	line-height: 130%;
}

div.sidebar form {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	text-align: center;
}

div.sidebar a:link,
div.sidebar a:visited,
div.sidebar a:hover,
div.footer a:link,
div.footer a:visited,
div.footer a:hover,
ul.global-menu li a:link,
ul.global-menu li a:visited,
ul.global-menu li a:hover
{
	background-color: transparent;
	color: #000;
	text-decoration: none;
}

div.sidebar hr {
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #32c832;
	width: 80%;
}

div.calendar {
	margin-left: 4px;
}

div.calendar select {
	margin-left: 8px;
}

p.recentitem {
	color: #000;
	font-weight: bold;
	margin-left: 4px;
	margin-bottom: 0.5em;
}

div.recentsubtitles {
}

